extends layout

block content
	
	script.
		$('.nav-link').click(function() {
		var sectionTo = $(this).attr('href');
		$('html, body').animate({
		scrollTop: $(sectionTo).offset().top
		}, 1500);
		});

	nav.navbar.navbar-default.center.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				.navbar-inner
					ul.nav.navbar-nav
						li#nav
							a(href="#etusivu") Virtavesivaalit.fi
						li#nav
							a(href="#1") Teesit
						li#nav
							a(href="#ehdokkaatt") Ehdokkaat
						li
							a(href="#leffa") Concrete Reasons
					ul.nav.navbar-nav.navbar-right
						li#nav-logo
								img#CR-nav(src="../images/logo_white.png")


	.jumbotron.jumbtron-fluid#etusivu
		.container
			h1.display-4 VIRTAVESIVAALIT.FI
				h2#hashtag #virtavesivaalit
			p.lead#hero.
				Virtavesivaalit.fi on vuoden 2019 eduskuntavaaleja varten rakennettu vaalikone, joka on lähtöisin Concrete Reasons -dokumenttielokuvan tekijöiltä ja se on tehty yhteistyössä <strong>WWF Suomen, Suomen Luonnonsuojeluliiton</strong> ja <strong>Suomen Vapaa-ajankalastajien Keskusjärjestön</strong> kanssa. Se haastaa ehdokkaita tärkeiden, maamme hyvinvointiin liittyvien kysymysten äärellä ja auttaa äänestäjää valitsemaan omille arvoilleen sopivan ehdokkaan.
			.row
				.col-md-6#intro
					h2 Mistä on kyse?
					p.lead.
						Suomen virtavedet ovat ympäristön ohella merkittävä osa kulttuurillista rikkautta suomalaisille. Maamme ylivoimaisesti isoin harrastus on vapaa-ajan kalastus, joka on täysin riippuvainen jokien ja vesistöjen ekologisesta tilasta. Lähes kaikki vaelluskalakantamme ovat hätää kärsimässä, eikä kalastusmatkailun potentiaalista pystytä nykyisellä vesilainsäädännöllä hyödyntämään kuin murto-osa. Vesilaki on vanhentunut energiapolitiikan osalta, sillä se mahdollistaa vesistöille ja kalakannoille haitallisten, energiantuotannon kannalta merkityksettömien vesivoimaloiden toiminnan jatkumisen.

				.col-md-6
					h2 Virtavesivaalit.fi ei ole perinteinen vaalikone
					p.lead.
						Kansanedustajaehdokkaat sitoutuvat viiteen virtavesiämme ja niiden tulevaisuutta koskevaan teesiin vastaamalla joko KYLLÄ tai EI. Vastaukset julkaistaan sellaisenaan, eikä kansalaisten tarvitse itse vastata kysymyksiin nähdäkseen ehdokkaiden vastaukset.
					p.lead.
						<strong>Concrete reasons</strong> on katsottavissa virtavesivaalit.fi -vaalikoneen lopussa 15.4.2019 asti.
					
	.container#etusivuteesit
		.jumbotron.jumbotron-fluid
			h1.display-4 TEESIT
		.container#etusivunteesit
			.row.rowteesi#1
				nav.navbar.navbar-default.center#teesinav
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						.collapse.navbar-collapse#bs-example-navbar-collapse-1
							.navbar-inner
								ul.nav.navbar-nav
									li.active#nav
										a(href="#1") 1
									li#nav
										a(href="#2") 2
									li#nav
										a(href="#3") 3
									li#nav
										a(href="#4") 4
									li
										a(href="#5") 5
				.col-md-6
							p#teesi.
								1. Haluan vesilain uudistettavaksi tulevalla hallituskaudella,
								jotta vaelluskalojen ja muun vesiluonnon elinvoimaisuutta voidaan tehokkaammin edistää.
				.col-md-6
							p.
								Varsinais-Suomen ELY-keskuksen teettämän selvityksen mukaan Suomen sisävesistä löytyy 50 vesivoimalaa, joille ei ole luvissa määrätty minkäänlaisia kalatalousvelvoitteita, eli kompensaatiota kalakannoille ja kalastukselle aiheutetusta haitasta. Velvoitetta ei tällöin voida vastoin luvan haltijan suostumusta määrätä niihin jälkikäteen. Tämä epäkohta voidaan korjata Vesilakia muuttamalla. Lakimuutoksen tulee myös velvoittaa luvan haltijan maksamaan sille määrätyn kalatien, jos vesistön patoamisesta ja säännöstelystä aiheutuu vahinkoa uhanalaisille kalakannoille.	

			.row.rowteesi#2
				nav.navbar.navbar-default.center#teesinav
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						.collapse.navbar-collapse#bs-example-navbar-collapse-1
							.navbar-inner
								ul.nav.navbar-nav
									li#nav
										a(href="#1") 1
									li.active#nav
										a(href="#2") 2
									li#nav
										a(href="#3") 3
									li#nav
										a(href="#4") 4
									li
										a(href="#5") 5
				.col-md-6
						p#teesi.
							2. Haluan seuraavaan hallitusohjelmaan tavoitteeksi pienvesivoimaloiden (< 5 MW) toiminnan hallitun alasajon, aloittaen minivesivoimaa (<1MW) tuottavista laitoksista.
				.col-md-6
						p.
							Varsinais-Suomen ELY-keskuksen teettämän selvityksen mukaan Suomen sisävesistä löytyy 50 vesivoimalaa, joille ei ole luvissa määrätty minkäänlaisia kalatalousvelvoitteita, eli kompensaatiota kalakannoille ja kalastukselle aiheutetusta haitasta. Velvoitetta ei tällöin voida vastoin luvan haltijan suostumusta määrätä niihin jälkikäteen. Tämä epäkohta voidaan korjata Vesilakia muuttamalla. Lakimuutoksen tulee myös velvoittaa luvan haltijan maksamaan sille määrätyn kalatien, jos vesistön patoamisesta ja säännöstelystä aiheutuu vahinkoa uhanalaisille 	
			
			.row.rowteesi#3
				nav.navbar.navbar-default.center#teesinav
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						.collapse.navbar-collapse#bs-example-navbar-collapse-1
							.navbar-inner
								ul.nav.navbar-nav
									li#nav
										a(href="#1") 1
									li#nav
										a(href="#2") 2
									li.active#nav
										a(href="#3") 3
									li#nav
										a(href="#4") 4
									li
										a(href="#5") 5
				.col-md-6
						p#teesi.
							3. Haluan että pienehköjen (10-20 MW), keskikokoisten (20-60 MW) ja suurten (> 100 MW) vesivoimaloidemme voimassa olevien kalatalousvelvoitteiden ajanmukaistamista tehostetaan huomattavasti seuraavan hallituskauden aikana.
				.col-md-6
						
						p.
							Voimaloiden vanhat istutusvelvoitteet on muutettava kalojen luontaista elinkiertoa tukeviksi toimenpiteiksi. Jo käynnistyneet velvoitteiden muutokset on saatettava loppuun välittömästi. Hallitusohjelmaan tulee tehdä kirjaus voimaloiden vesitalouslupiin lisättävistä kalan kulun mahdollistavista ratkaisuista ja kompensaatiotoimista vesivoiman vuoksi menetettyjen kalojen lisääntymisalueiden osalta, siltä osin kuin ne niistä puuttuvat.
						p.
							Varsinais-Suomen ELY-keskuksen teettämän selvityksen mukaan Suomen sisävesistä löytyy 50 vesivoimalaa, joille ei ole luvissa määrätty minkäänlaisia kalatalousvelvoitteita, eli kompensaatiota kalakannoille ja kalastukselle aiheutetusta haitasta. Velvoitetta ei tällöin voida vastoin luvan haltijan suostumusta määrätä niihin jälkikäteen. Tämä epäkohta voidaan korjata Vesilakia muuttamalla. Lakimuutoksen tulee myös velvoittaa luvan haltijan maksamaan sille määrätyn kalatien, jos vesistön patoamisesta ja säännöstelystä aiheutuu vahinkoa uhanalaisille kalakannoille.
			
			.row.rowteesi#4
				nav.navbar.navbar-default.center#teesinav
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						.collapse.navbar-collapse#bs-example-navbar-collapse-1
							.navbar-inner
								ul.nav.navbar-nav
									li#nav
										a(href="#1") 1
									li#nav
										a(href="#2") 2
									li#nav
										a(href="#3") 3
									li.active#nav
										a(href="#4") 4
									li
										a(href="#5") 5
				.col-md-6
						p#teesi.
							4. Haluan viranomaispakkokeinojen soveltamista voimassa olevien kalatien rakentamisvelvoitteiden toteuttamiseksi. Lisäksi haluan, että viranomaiset ryhtyvät vaatimaan kalatien salliviin velvoitteisiin kalateitä.
				.col-md-6
						p.
							Pienvesivoimayhtiöt eivät ole toteuttaneet niille määrättyjä kalatievelvoitteita ja viranomaiset eivät liioin ole ryhtyneet vaatimaan niihin kalateiden rakentamista ilmenee Varsinais-Suomen ELY-keskuksen teettämästä selvityksestä. Velvoitteiden toteuttamatta jättäminen on hidastanut uhanalaisten vaelluskalojen palauttamista padottuihin jokiin. Selvitykseen saatiin tiedot 50:stä voimalaitoksesta, joilla on velvoite rakentaa kalatie tai sallia sen rakentaminen viranomaisen niin esittäessä. Kalateitä on kuitenkin rakennettu vain yhdeksän ja niistäkin viisi yhteiskunnan varoin. Selvityksessä tarkasteltujen alle 5 MW vesivoimaloiden osuus Suomen vesivoiman tuotannosta on viisi prosenttia.
			
			.row.rowteesi#5
				nav.navbar.navbar-default.center#teesinav
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type="collapse" data-toggle="collapse" target="#bs-example-navbar-collapse-1" aria-expanded="false")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
						.collapse.navbar-collapse#bs-example-navbar-collapse-1
							.navbar-inner
								ul.nav.navbar-nav
									li#nav
										a(href="#1") 1
									li#nav
										a(href="#2") 2
									li#nav
										a(href="#3") 3
									li#nav
										a(href="#4") 4
									li.active
										a(href="#5") 5
				.col-md-6
						p#teesi.
							5. Haluan että vaelluskalojen palauttaminen säilyy myös tulevan hallituksen kärkitavoitteissa, ja että uhanalaisten kalojen elvyttämiseen vaadittavat toimet ulotetaan koskemaan myös muita politiikkojamme. Elinympäristönä virtavesien ennallistamiselle tulee asettaa kunnianhimoiset kansalliset määrätavoitteet.
				.col-md-6
						p.
							Luonnontilaiset virtavedet ovat elinympäristönä uhanalaisia Etelä-Suomessa. Uuden kalastuslain mukainen siirtyminen istutuskeskeisestä kalakantojen hoidosta kalakantojen luontaisen elinkierron palauttamiseen, vaatii laajamittaisia ennallistamistoimia, joihin tulee suunnata lisäresursseja mm. Euroopan Meri- ja kalatalousrahaston rahoituksen kautta sekä suuntaamalla lisäresursseja ELY-keskusten kalataloudellisiin määrärahoihin. Kalastuslain toimeenpanon kautta (kalatalousalueiden käyttö- ja hoitosuunnitelmat) kalastus tulee järjestää myös seisovien pyydysten osalta niin että rajoitukset tukevat uhanalaisten kalakantojen palauttamisyrityksiä.

	
	.container#ehdokkaatt
		.jumbotron.jumbotron-fluid
				h1.display-4#vika EHDOKKAAT
		.container
			form(method='POST' action='/')
				div.form-group.etusivu
					label(for='puolue') Puolue
					select.form-control(type='select' id='puolue' name='puolue')
						option Kaikki
						option SDP
						option Kokoomus
						option Vihreät
						option Vasemmistoliitto
						option RKP
						option Keskusta
						option Perussuomalaiset
						option Sininen tulevaisuus
						option KD
						option SKP
						option KTP
						option Liberaalipuolue
						option Piraattipuolue
						option Eläinoikeuspuolue
						option Kansalaispuolue
						option Feministinen puolue
						option Itsenäisyyspuolue
						option Suomen Kansa Ensin
						option Seitsemän tähden liike
						option Kansalaispuolue
						option Feministinen puolue

				div.form-group.etusivu
					label(for='vaalipiiri') Vaalipiiri
					select.form-control(type='select' id='vaalipiiri' name='vaalipiiri')
						option Kaikki
						option Uusimaa
						option Varsinais-Suomi
						option Satakunta
						option Pirkanmaa
						option Keskisuomi
						option Savo-Karjala
						option Lappi
						option Helsinki
						option Oulu
						option Häme
						option Kaakkois-Suomi
						option Vaasa
						option Keskisuomi
				.form-group.etusivu
					button.btn.btn-primary#filtteri(type='submit') Näytä
		.container#ehdokkaat
			each ehdokas in ehdokkaat
				.col-md-2.col-sm-4
					a(href = "/ehdokas/" + ehdokas.id)
						img#index(src=ehdokas.kuva)
					p#ehdokas=ehdokas.name + ", " + ehdokas.puolue + ", " + ehdokas.vaalipiiri
					each teesi in ehdokas.teesit
							if teesi === 'kyllä'
									span.glyphicon.glyphicon-ok
							else
									span.glyphicon.glyphicon-remove

	.embed-container#leffa
		iframe(src="https://player.vimeo.com/video/317557748" width="1280" height="540" frameborder="0" webkitallowfullscreen )
				
	a#privacy(href="/privacy") virtavesivaalit.fi/privacy