extends layout

block content
  .jumbotron
    .container
      h1.display-4 VIRTAVESIVAALIT.FI
      h2#hashtag #virtavesivaalit
      img#CR(src="../images/logo_white.png")
      p Virtavesivaalit.fi on vuoden 2019 eduskuntavaaleja varten rakennettu vaalikone joka on lähtöisin Concrete Reasons -dokumenttielokuvan tekijöiltä ja se on tehty yhteistyössä WWF Suomen, Suomen Luonnonsuojeluliiton ja Suomen Vapaa-ajankalastajien Keskusjärjestön kanssa.
      h1.display-4 25.3.2019

        