extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Kiitos vastauksistasi!
        p#teesi Sivu aukeaa yleisölle 4.3.2019
        img(src="./public/images/logo_white.png")
        