extends layout

block content
  .jumbotron#kiitos
    .container
      h1.display-4 KIITOS VASTAUKSISTASI
      img#CR(src="../images/logo_white.png")
      p#kiitos Sivu aukeaa yleisölle 4.3.2019
        