extends layout

block content
  .jumbotron#kiitos
    .container
      .row
        .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 VIRTAVESIVAALIT
          img#CR(src="../images/logo_white.png")
          p#kiitos Sivu aukeaa yleisölle 4.3.2019
        