extends layout

block content
  .container
    .jumbotron
      h1.display-4.m-b-2 Kiitos vastauksistasi!
      p.lead.
        Ystävällisesti allekirjoita vastauksesi kirjautumalla sisään Facebook tunnuksillasi ja tarkasta vielä tietosi vahvistussivulla.
        
      div.form-group
        a.btn.btn-block.btn-social.btn-facebook(href='/auth/facebook')
          i.fa.fa-facebook.fa-fw
          |Allekirjoita