<div class="container">
    <h1>Etunimi Sukunimi</h1>
    <form action="/register" method="POST">
        <div class="form-group">
            <label>Vaalipiiri</label>
            <input class="form-control" type="text" name="vaalipiiri" placeholder="Vaalipiiri">
        </div>
        <div class="form-group">
            <label>Puolue</label>
            <select class="form-control" type="select" name="puolue">
                <option value="SDP">SDP</option>
                <option value="Vihreät">Vihreät</option>
            </select>
        </div>
        <div class="form-group">
            <label>Kannatatko vesivoimaa</label>
            <select class="form-control" type="select" name="kysymys1">
                <option value="Kylla">Kyllä</option>
                <option value="Ei">Ei</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block">Rekisteröidy</button>
    </form>
</div>