

html,body {
  background-image: url("../images/cr_vaalikone_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  font-family: Georgia;
  margin: auto;
  color: white;
}

#kiitos{
	text-align: center;
	position: center;
	font-family: Futura;
	font-size: 18px;
	font-weight: bold;
}

#CR{
	height:250px;
	width:auto;
	margin-bottom:40px;
	postion:center;
}

textarea.form-control{
	display:none;
}

.jumbotron p{
	font-size: 16px;
	text-align: left;
}

.container.jumbotron.jumbotron-fluid {
	padding:0;}

#logo{
	height: 100px;
 	width: 100px;
 	position: center;
 	margin: 10px 0px 10px 0px;
 	border-radius: 10px;
}

#logot{
 	margin: auto;
}


.glyphicon.glyphicon-ok{
	color: green;
}

#index{
	height: 100px;
 	width: 100px;
 	margin: 10px 0px 10px 0px;
 	border-radius: 100px;
 	max-width: 100%;
 	height: auto;
}

.jumbotron{
	background-color: rgba(0,0,0,0);
	text-align: center;
}

#profiili{
	height: 200px;
 	width: 200px;
 	margin: 50px 0px 50px 0px;
 	border-radius: 100px;
}

h1{
	font-family: Futura;
	text-transform: uppercase;
}

.teesi{
	margin-top: 100px;
}

#teesi{
	font-family: Futura;
	font-size: 18px;
	font-weight: bold;
}

.display-4{
	margin-bottom: 30px;
	font-size: 60;
	position:center
	text-align:center;
}

#ehdokas{
	font-family: Futura;
	font-size: 12px;
	font-weight: bold;
}

.form-group{
	margin-bottom: 30px;
}

.col-md-1.col-md-offset-3{
  border-radius: 5px;
  margin: 0px;
}

.col-md-12.col-md-offset-3{
  border-radius: 5px;
  padding: 60px;
  width: 80%;
  margin:auto;
}

.form-control{
	width:50%;
}

input[type="text"] {
  width: 50%;
}

a {
  color: #FFFFFF;
}

a.btn-social{
	color: #3b5998;
	background-color: #FFFFFF;
}
